body{
    background-image: linear-gradient(to right, rgb(174, 238, 240),  rgb(221, 198, 228)) ;
}
.box{
    border:0px solid black;
    width: 100%;
    height: 100px;
    text-align: center;
    padding-top: 40px;
    font-size: 73px;
   
}

.box1{
    border: 0px black solid;
    width:100%;
    height: 800px;
    margin-top: 90px;
}

.pfform{
    margin-top: 200px;
    margin-left:400px;
    width: 900px;
    height: 100px;
    font-size: 50px;
    background-image: linear-gradient(to right, rgb(77, 206, 210),  rgb(208, 151, 226)) ;

}

.form12b{
    margin-top: 100px;
    margin-left:400px;
    width: 900px;
    height: 100px;
    font-size: 50px;
    background-image: linear-gradient(to right, rgb(77, 206, 210),  rgb(208, 151, 226)) ;

}